USE [master]
GO
/****** Object:  Database [WEBBANHANG]    Script Date: 12/20/2022 11:02:21 AM ******/
CREATE DATABASE [WEBBANHANG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WEBBANHANG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\WEBBANHANG.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WEBBANHANG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\WEBBANHANG_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WEBBANHANG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WEBBANHANG]
GO
/****** Object:  Table [dbo].[ADMIN]    Script Date: 12/20/2022 11:02:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ADMIN](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[email] [varchar](50) NULL,
	[password] [varchar](25) NULL,
	[created] [smalldatetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
UPDATE STATISTICS [dbo].[ADMIN] WITH ROWCOUNT = 1, PAGECOUNT = 1
GO
/****** Object:  Table [dbo].[CTDH]    Script Date: 12/20/2022 11:02:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDH](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DH_ID] [int] NOT NULL,
	[SP_ID] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
 CONSTRAINT [PK_CTDH] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONHANG]    Script Date: 12/20/2022 11:02:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DONHANG](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[TENKH] [nvarchar](50) NOT NULL,
	[SDTKH] [varchar](12) NOT NULL,
	[DIACHIKH] [nvarchar](100) NOT NULL,
	[TONGTIEN] [money] NOT NULL,
	[EMAILKH] [varchar](max) NULL,
	[TRANGTHAI] [bit] NULL,
	[NGAYLAP] [smalldatetime] NULL,
 CONSTRAINT [PK_DONHANG] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAI]    Script Date: 12/20/2022 11:02:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LOAI] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 12/20/2022 11:02:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[TENSP] [nvarchar](100) NOT NULL,
	[DONGIA] [money] NOT NULL,
	[HINHANH] [varchar](max) NOT NULL,
	[NGAYDANG] [smalldatetime] NULL,
	[MOTA] [nvarchar](max) NULL,
	[IDLOAI] [int] NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 12/20/2022 11:02:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USERS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[phone] [varchar](15) NOT NULL,
	[address] [nvarchar](125) NOT NULL,
	[created] [smalldatetime] NOT NULL,
	[token] [varchar](32) NULL,
	[password] [varchar](255) NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ADMIN] ON 

INSERT [dbo].[ADMIN] ([id], [name], [email], [password], [created]) VALUES (1, N'huy', N'nqhuy20042001@gmail.com', N'626177', CAST(N'2022-12-20T10:41:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[ADMIN] OFF
GO
SET IDENTITY_INSERT [dbo].[LOAI] ON 

INSERT [dbo].[LOAI] ([id], [TENLOAI]) VALUES (1, N' thức uống')
INSERT [dbo].[LOAI] ([id], [TENLOAI]) VALUES (3, N'bánh kẹo')
INSERT [dbo].[LOAI] ([id], [TENLOAI]) VALUES (2, N'thực phẩm')
SET IDENTITY_INSERT [dbo].[LOAI] OFF
GO
SET IDENTITY_INSERT [dbo].[SANPHAM] ON 

INSERT [dbo].[SANPHAM] ([id], [TENSP], [DONGIA], [HINHANH], [NGAYDANG], [MOTA], [IDLOAI]) VALUES (13, N'Yến mạch ăn liền Quaker', 115000.0000, N'yenmach.jpg', CAST(N'2020-06-01T00:00:00' AS SmallDateTime), N'Loại sản phẩm Yến mạch ăn liền
Khối lượng 600g
Phù hợp Trẻ từ 1 tuổi trở lên
Thành phần Yến mạch 100%
Cách dùng Cho 4 muỗng yến mạch ăn liền (35g) vào tô. Sau đó cho khoảng 200ml nước sôi, đậy kín để làm chín yến mạch. Có thể thêm sữa tươi theo sở thích, khuấy đều và thưởng thức.
Thương hiệu Quaker (Mỹ)
Sản xuất tại Malaysia', 2)
INSERT [dbo].[SANPHAM] ([id], [TENSP], [DONGIA], [HINHANH], [NGAYDANG], [MOTA], [IDLOAI]) VALUES (15, N'Kim chi cải thảo cắt lát', 44000.0000, N'th.png', CAST(N'2020-06-01T00:00:00' AS SmallDateTime), N'Loại sản phẩm Kim chi cải thảo cắt lát
Thành phần Cải thảo muối (cải thảo, nước, muối), củ cải trắng, tỏi, ớt bột, chất làm dày, nước mắm, hành tây, chất điều vị, ruốc muối, hành baro, hẹ, gừng, lợi khuẩn, chất tạo ngọt, chiết xuất hành tỏi
Cách dùng Dùng kèm cơm hoặc các món ăn khác
Bảo quản Lưu trữ ở nhiệt độ 0 - 10 độ C
Thương hiệu Bibigo (Hàn Quốc)
Nơi sản xuất Việt Nam', 2)
SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
GO
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([id], [name], [email], [phone], [address], [created], [token], [password]) VALUES (1, N'Nguyễn Quốc Huy', N'nqhuy20042001@gmail.com', N'0938626177', N'123456789', CAST(N'2022-12-20T00:00:00' AS SmallDateTime), N'AzQwbpcyUVFJCmVwOTCm0OW3ux7SJ4_T', N'08182BF62BD9342ECB5119E757F01802247270C1')
SET IDENTITY_INSERT [dbo].[USERS] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_LOAI]    Script Date: 12/20/2022 11:02:21 AM ******/
ALTER TABLE [dbo].[LOAI] ADD  CONSTRAINT [UK_LOAI] UNIQUE NONCLUSTERED 
(
	[TENLOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LOAI]    Script Date: 12/20/2022 11:02:21 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_LOAI] ON [dbo].[LOAI]
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_SANPHAM]    Script Date: 12/20/2022 11:02:21 AM ******/
ALTER TABLE [dbo].[SANPHAM] ADD  CONSTRAINT [UK_SANPHAM] UNIQUE NONCLUSTERED 
(
	[TENSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_USERS]    Script Date: 12/20/2022 11:02:21 AM ******/
ALTER TABLE [dbo].[USERS] ADD  CONSTRAINT [UK_USERS] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ADMIN] ADD  CONSTRAINT [DF_ADMIN_created]  DEFAULT (getdate()) FOR [created]
GO
ALTER TABLE [dbo].[DONHANG] ADD  CONSTRAINT [DF_DONHANG_TRANGTHAI]  DEFAULT ((0)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[DONHANG] ADD  CONSTRAINT [DF_DONHANG_NGAYLAP]  DEFAULT (getdate()) FOR [NGAYLAP]
GO
ALTER TABLE [dbo].[USERS] ADD  CONSTRAINT [DF_users_name]  DEFAULT (N'unique') FOR [name]
GO
ALTER TABLE [dbo].[CTDH]  WITH CHECK ADD  CONSTRAINT [FK_CTDH_DONHANG] FOREIGN KEY([DH_ID])
REFERENCES [dbo].[DONHANG] ([id])
GO
ALTER TABLE [dbo].[CTDH] CHECK CONSTRAINT [FK_CTDH_DONHANG]
GO
ALTER TABLE [dbo].[CTDH]  WITH CHECK ADD  CONSTRAINT [FK_CTDH_SANPHAM] FOREIGN KEY([SP_ID])
REFERENCES [dbo].[SANPHAM] ([id])
GO
ALTER TABLE [dbo].[CTDH] CHECK CONSTRAINT [FK_CTDH_SANPHAM]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONHANG_USERS] FOREIGN KEY([user_id])
REFERENCES [dbo].[USERS] ([id])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_DONHANG_USERS]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_LOAI] FOREIGN KEY([IDLOAI])
REFERENCES [dbo].[LOAI] ([id])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_LOAI]
GO
/****** Object:  StoredProcedure [dbo].[SP_HIENTHI]    Script Date: 12/20/2022 11:02:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_HIENTHI]
AS
	SELECT * FROM dbo.users 
GO
/****** Object:  Statistic [_WA_Sys_00000001_34C8D9D1]    Script Date: 12/20/2022 11:02:21 AM ******/
CREATE STATISTICS [_WA_Sys_00000001_34C8D9D1] ON [dbo].[ADMIN]([id]) WITH STATS_STREAM = 0x01000000010000000000000000000000A0FA23E900000000DB010000000000009B01000000000000380300003800000004000A000000000000000000AC020000070000004A47B00071AF000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F0100000004000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000002_34C8D9D1]    Script Date: 12/20/2022 11:02:21 AM ******/
CREATE STATISTICS [_WA_Sys_00000002_34C8D9D1] ON [dbo].[ADMIN]([name]) WITH STATS_STREAM = 0x010000000100000000000000000000000CE1373C00000000EB01000000000000AB01000000000000E7020000E7000000640000000000000008D000340000000007000000C9FCAF0071AF000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000010000000000000000000803F0000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000120400000000000000000000000000002F0000000000000037000000000000003F00000000000000FF0100000001000000010000000100000028000000280000000000000000000000000000000100000000000000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_34C8D9D1]    Script Date: 12/20/2022 11:02:21 AM ******/
CREATE STATISTICS [_WA_Sys_00000003_34C8D9D1] ON [dbo].[ADMIN]([email]) WITH STATS_STREAM = 0x0100000001000000000000000000000091CE2F0000000000EB01000000000000AB01000000000000A7020000A7000000320000000000000008D000340000000007000000C8FCAF0071AF000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000010000000000000000000803F0000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000120400000000000000000000000000002F0000000000000037000000000000003F00000000000000FF0100000001000000010000000100000028000000280000000000000000000000000000000100000000000000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_34C8D9D1]    Script Date: 12/20/2022 11:02:21 AM ******/
CREATE STATISTICS [_WA_Sys_00000004_34C8D9D1] ON [dbo].[ADMIN]([password]) WITH STATS_STREAM = 0x010000000100000000000000000000000DB8C05500000000EB01000000000000AB01000000000000A7020000A7000000190000000000000008D000340000000007000000C8FCAF0071AF000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000010000000000000000000803F0000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000120400000000000000000000000000002F0000000000000037000000000000003F00000000000000FF0100000001000000010000000100000028000000280000000000000000000000000000000100000000000000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_34C8D9D1]    Script Date: 12/20/2022 11:02:21 AM ******/
CREATE STATISTICS [_WA_Sys_00000005_34C8D9D1] ON [dbo].[ADMIN]([created]) WITH STATS_STREAM = 0x01000000010000000000000000000000D9BDEC5800000000DB010000000000009B010000000000003A0200003A0000000400100000000000000000000000000007000000C7FCAF0071AF000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F810271AF04000001000000000000000000000000000000
GO
/****** Object:  Statistic [PK_CTDH]    Script Date: 12/20/2022 11:02:21 AM ******/
UPDATE STATISTICS [dbo].[CTDH]([PK_CTDH]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_DONHANG]    Script Date: 12/20/2022 11:02:21 AM ******/
UPDATE STATISTICS [dbo].[DONHANG]([PK_DONHANG]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 1
GO
/****** Object:  Statistic [IX_LOAI]    Script Date: 12/20/2022 11:02:21 AM ******/
UPDATE STATISTICS [dbo].[LOAI]([IX_LOAI]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 3, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_LOAI]    Script Date: 12/20/2022 11:02:21 AM ******/
UPDATE STATISTICS [dbo].[LOAI]([PK_LOAI]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 3, PAGECOUNT = 1
GO
/****** Object:  Statistic [UK_LOAI]    Script Date: 12/20/2022 11:02:21 AM ******/
UPDATE STATISTICS [dbo].[LOAI]([UK_LOAI]) WITH STATS_STREAM = 0x01000000020000000000000000000000ECA3878B0000000058000000000000000000000000000000E7030000E7000000640000000000000008D00034000000003803FFFF3800000004000A00000000000000000000000000, ROWCOUNT = 3, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000007_3C69FB99]    Script Date: 12/20/2022 11:02:21 AM ******/
CREATE STATISTICS [_WA_Sys_00000007_3C69FB99] ON [dbo].[SANPHAM]([IDLOAI]) WITH STATS_STREAM = 0x010000000100000000000000000000005014FA19000000001902000000000000D901000000000000380200003800000004000A000000000000000000000000000700000045A2B40071AF00001B000000000000001B0000000000000000000000ABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000014000000000080400000D84100000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000005D0000000000000065000000000000006D0000000000000018000000000000002F0000000000000046000000000000001000140000000041000000000000803F010000000400001000140000003041000000000000803F020000000400001000140000000041000000000000803F030000000400001B000000000000000000000000000000
GO
/****** Object:  Statistic [PK_SANPHAM]    Script Date: 12/20/2022 11:02:21 AM ******/
UPDATE STATISTICS [dbo].[SANPHAM]([PK_SANPHAM]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 27, PAGECOUNT = 3
GO
/****** Object:  Statistic [UK_SANPHAM]    Script Date: 12/20/2022 11:02:21 AM ******/
UPDATE STATISTICS [dbo].[SANPHAM]([UK_SANPHAM]) WITH STATS_STREAM = 0x01000000020000000000000000000000856636D90000000058000000000000000000000000000000E7030000E7000000C80000000000000008D00034000000003803FFFF3800000004000A00000000000000000000000000, ROWCOUNT = 27, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000008_3F466844]    Script Date: 12/20/2022 11:02:21 AM ******/
CREATE STATISTICS [_WA_Sys_00000008_3F466844] ON [dbo].[USERS]([password]) WITH STATS_STREAM = 0x01000000010000000000000000000000928F33510000000067020000000000002702000000000000A7020000A7000000FF0000000000000008D000340000000007000000C65AAF0071AF000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000020420000803F00000000000020420000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000004700000000000000A300000000000000AB00000000000000B3000000000000000800000000000000300010000000803F000000000000803F04000001003F0030383138324246363242443933343245434235313139453735374630313830323234373237304331FF0100000000000000010000000100000028000000280000000000000000000000280000003038313832424636324244393334324543423531313945373537463031383032323437323730433102000000400000000001280000000001000000000000000000000000000000
GO
/****** Object:  Statistic [PK_user]    Script Date: 12/20/2022 11:02:21 AM ******/
UPDATE STATISTICS [dbo].[USERS]([PK_user]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 1, PAGECOUNT = 1
GO
/****** Object:  Statistic [UK_USERS]    Script Date: 12/20/2022 11:02:21 AM ******/
UPDATE STATISTICS [dbo].[USERS]([UK_USERS]) WITH STATS_STREAM = 0x01000000020000000000000000000000934BE56F000000005D020000000000000502000000000000A7030000A7000000320000000000000008D0003400000000380300003800000004000A0000000000000000000000000007000000C55AAF0071AF000001000000000000000100000000000000000000000000803F0000803F00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000002000000100000000000D8410000803F000000000000B84100008040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001304000000000000000000000000000036000000000000008100000000000000890000000000000091000000000000000800000000000000300010000000803F000000000000803F04000001002E006E71687579323030343230303140676D61696C2E636F6DFF0100000000000000010000000100000028000000280000000000000000000000170000006E71687579323030343230303140676D61696C2E636F6D02000000400000000001170000000001000000000000000000000000000000, ROWCOUNT = 1, PAGECOUNT = 1
GO
USE [master]
GO
